/*
Project : ProtoType Common 
Author  : kang2oon
Date    : 2021-07-16
*/

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Serif+KR:wght@300;400;500;700&display=swap');
/* reset */
html,body{width:100%;height:100%}html{overflow-y:scroll}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,table,tr,th,td,label,select{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}ul,ol,li{list-style:none}img,fieldset{border:0}label{cursor:pointer}textarea{overflow:auto}button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}input[type="checkbox"],input[type="radio"]{border:0}svg:not(:root){overflow:hidden}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}.clearfix:before,.clearfix:after{content:"";display:block}.clearfix:after{clear:both;visibility:hidden;line-height:0;height:0}.clearfix{*zoom:1}
/* Common */
*{box-sizing:border-box;}
html, body{font-family:'Noto Sans KR', sans-serif;font-size:13px;font-weight:400;-webkit-font-smoothing:antialiased;line-height:1.6;color:#212121;}
img{max-width:100%;}a{text-decoration:none;color:inherit;}
.ff_serif{font-family:'Noto Serif KR', serif;}
.fc_fff{color:#fff;}
.fc_000{color:#000;}
.fc_919191{color:#919191;}
.txt_center{text-align:center!important;}
.mgtop_20{margin-top:20px!important;}
.mgtop_40{margin-top:40px!important;}
.mgtop_80{margin-top:80px!important;}
.btn{display:inline-block;}

.module-wrap{position:relative;}
.cnt-container{position:relative;max-width:1260px;margin:0 auto;}

/* Common */
    /* Header */
.com_mod_header{padding:70px 0;background:#fff;}
    .com_mod_header.sty01{background:url(/images/bg_sty01.png) 50% 50%;}
    /* .com_mod_header.sty02{} */
.header{position:relative;display:flex;align-items:center;}
    .header .biz_cate{position:absolute;top:-70px;right:0;text-align:center;padding:32px 16px;border-radius:0 0 8px 8px;font-size:14px;font-weight:300;}
    .header .biz_cate.blue{background:#437cff;color:#fff;}
    .header .biz_cate.green{background:#93b022;color:#fff;}
    .header .biz_cate.cate01 i{position:relative;display:block;width:40px;height:40px;margin:0 auto 8px;background:url(/images/ico_biz_cate01.png) no-repeat 50% 50%;}
    .header .logo{float:left;margin-right:120px;}
    .header .logo img{max-width:300px;}
    .header .info{float:left;}
    .header .info dl{margin:12px 0 36px;}
    .header .info dl dt, .header .info dl dd{float:left;line-height:20px;}
    .header .info dl dt{font-size:16px;font-weight:300;margin-right:12px;}
    .header .info dl dd{font-size:20px;font-weight:500;margin-right:48px;}
    .sty01 .header .action a{display:inline-block;font-size:16px;color:inherit;text-decoration:none;border:1px solid #fff;padding:8px 16px;border-radius:24px;line-height:20px;}
    .sty01 .header .action a.on{border-color:#ff1c31;}
    .sty01 .header .action a i{font-style:normal;font-size:20px;display:inline-block;margin-left:32px;}
    .sty02 .header .action a{display:inline-block;font-size:16px;color:inherit;text-decoration:none;line-height:28px;}
    .sty02 .header .action a i{
        font-style:normal;font-size:16px;display:inline-block;margin-left:16px;width:28px;height:28px;
        border:1px solid #000;text-align:center;line-height:28px;border-radius:14px;
    }.sty02 .header .action a.on i{border-color:#ff1c31;}
    .header .action a + a{margin-left:24px;}
    .header .action a.on{color:#ff1c31;}
.com_mod_header.fixed{position:fixed;width:100%;padding:24px 0;z-index:1000;}
    .com_mod_header.fixed .header{display:block;}
    .com_mod_header.fixed .header .biz_cate, .com_mod_header.fixed .header .info dl{display:none;}
    .com_mod_header.fixed .header .logo img{max-width:180px;}
    .com_mod_header.fixed .header .info{float:right;}
    /* Anchor Tab */
.com_mod_anchor.sty01{border:1px #ddd;border-style:solid none;}
.com_mod_anchor.sty02{background:#001540;}
    .com_mod_anchor .cnt-container{overflow-x:auto;-ms-overflow-style:none;scrollbar-width:none;}
    .com_mod_anchor .cnt-container::-webkit-scrollbar{display:none;}
    .com_mod_anchor ul{display:table;white-space:nowrap;table-layout:fixed;}
    .com_mod_anchor li{display: table-cell;}
    .com_mod_anchor.sty01 li + li{padding-left:32px;}
    .com_mod_anchor.sty01 a{position:relative;display:inline-block;color:inherit;font-size:18px;text-decoration:none;padding:20px 10px;}
    .com_mod_anchor.sty01 a.active{color:#000;}
    .com_mod_anchor.sty01 a.active::before{content:"";display:block;width:10px;height:10px;background:#ff1c31;border-radius:50%;position:absolute;top:12px;right:2px;}
    .com_mod_anchor.sty01 a.active::after{content:"";display:block;width:100%;height:3px;background:#437cff;position:absolute;left:0;bottom:0;}
    .com_mod_anchor.sty02 li{border-right:1px solid rgba(255,255,255,.25);}
    .com_mod_anchor.sty02 li:first-child{border-left:1px solid rgba(255,255,255,.25);}
    .com_mod_anchor.sty02 a{position:relative;display:inline-block;color:inherit;font-size:16px;font-weight:300;text-decoration:none;padding:20px 32px;}
    .com_mod_anchor.sty02 a.active{background:#da0011;font-weight:400;}
.com_mod_anchor.fixed{position:fixed;width:100%;z-index:1000;}
    .com_mod_anchor.fixed.sty02 a{padding:12px 32px;}
    /* 채용공고 */
.com_mod_recruit.sty01{padding:80px 0;}
    .com_mod_recruit.sty01 .bg_bot{position:absolute;bottom:0;width:100%;background:#2b71b9;height:280px;}
    .com_mod_recruit.sty01 h3{font-size:32px;margin:0 0 40px;}
    .com_mod_recruit.sty01 .tb_recruit{width:100%;margin-bottom:60px;}
    .com_mod_recruit.sty01 .tb_recruit th{border:2px #000;border-style:solid none;font-size:16px;padding:24px;}
    .com_mod_recruit.sty01 .tb_recruit td{border:1px #dcdcdc;border-style:none none solid;font-size:14px;padding:16px;text-align:center;}
    .com_mod_recruit.sty01 .tb_recruit td .apply{color:#da0020;padding:8px 16px;border:1px solid #da0020;margin-left:16px;}
    .com_mod_recruit.sty01 .box_recruit{border:1px solid #2971b9;background:#fff;padding:40px;}
    .com_mod_recruit.sty01 .box_recruit h4{position:relative;font-size:20px;}
    .com_mod_recruit.sty01 .box_recruit h4 .period{position:absolute;top:3px;right:0;font-size:14px;font-weight:400;color:#666;}
    .com_mod_recruit.sty01 .box_recruit hr{width:100%;margin:30px 0;border:1px #000;border-style:solid none;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap{display:flex;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap > div{flex:1;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap > div + div{border-left:1px solid #dcdcdc;padding-left:30px;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap h5{font-size:16px;margin:0 0 16px;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap dl{font-size:14px;color:#666;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap dl dt, .com_mod_recruit.sty01 .box_recruit .detail_wrap dl dd{float:left;margin-bottom:8px;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap dl dt{width:15%;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap dl dd{width:85%;}
    /* 기업뉴스 */
.com_mod_news.sty01{padding:80px 0;}
    .com_mod_news.sty01 .news_row{padding-bottom:32px;margin-bottom:32px;border-bottom:1px solid #dcdcdc;}
    .com_mod_news.sty01 .news_row a.tit{font-size:18px;color:#000;font-weight:500;}
    .com_mod_news.sty01 .news_row .desc{margin:20px 0 32px;color:#666;font-size:14px;}
    .com_mod_news.sty01 .news_row .reg_date{color:#666;font-size:14px;}
    .com_mod_news.sty01 .paging_wrap{display:flex;align-items:center;justify-content:center;}
    .com_mod_news.sty01 .paging_wrap a{display:inline-block;width:48px;height:48px;text-align:center;line-height:48px;font-size:12px;}
    .com_mod_news.sty01 .paging_wrap a.current{background-color:#000;color:#fff;border-radius:50%;}
    .com_mod_news.sty01 .paging_wrap .prev, .com_mod_news.sty01 .paging_wrap .next{text-indent:-999999px;}
    .com_mod_news.sty01 .paging_wrap .prev{background-image:url(/images/ico_paging.png);background-position:-48px 0;background-repeat:no-repeat;}
    .com_mod_news.sty01 .paging_wrap .prev.disable{background-position:0 0;}
    .com_mod_news.sty01 .paging_wrap .next{background-image:url(/images/ico_paging.png);background-position:-144px 0;background-repeat:no-repeat;}
    .com_mod_news.sty01 .paging_wrap .next.disable{background-position:-96px 0;}
    /* 지도 */
.com_mod_map{height:720px;}
    .com_mod_map #map{height:720px;}
    .com_mod_map .map_info_wrap{position:absolute;top:0;left:0;background-color:#fff;z-index:100;}
    .com_mod_map .map_info_wrap .com_info{padding:20px;background-color:#258fff;color:#fff;}
    .com_mod_map .map_info_wrap .com_info .comName{display:inline-block;font-size:20px;font-weight:700;line-height:26px;}
    .com_mod_map .map_info_wrap .com_info .find_road{
        display:inline-block;margin-left:8px;border:1px solid #fff;border-radius:16px;padding:2px 8px;z-index:110;cursor:pointer;
    }
    .com_mod_map .map_info_wrap .com_info .comAddress{display:block;margin-top:12px;padding-top:12px;border-top:1px solid rgba(255,255,255,.35);}
    .com_mod_map .map_info_wrap .around_wrap{padding:20px 20px 10px;}
    #category{display:flex;flex-wrap:wrap;max-width:350px;}
        #category li {width:50px;margin-bottom:10px;text-align:center;cursor:pointer;font-size:12px;letter-spacing:-0.5px;}
        #category li span{display:block;margin:0 auto 3px;width:30px;height:30px;}
        #category li .category_bg{background:url(/images/ico_location_map.png) no-repeat;}
        #category li .mt1{background-position: 0 0;}
        #category li .cs2{background-position: 0 -36px;}
        #category li .ac5{background-position: 0 -72px;}
        #category li .pk6{background-position: 0 -108px;}
        #category li .ol7{background-position: 0 -144px;}
        #category li .sw8{background-position: 0 -180px;}
        #category li .bk9{background-position: 0 -216px;}
        #category li .ct1{background-position: 0 -252px;}
        #category li .at4{background-position: 0 -288px;}
        #category li .ad5{background-position: 0 -324px;}
        #category li .fd6{background-position: 0 -360px;}
        #category li .ce7{background-position: 0 -396px;}
        #category li .hp8{background-position: 0 -432px;}
        #category li .pm9{background-position: 0 -468px;}
        #category li.on .category_bg {background-position-x:-36px;}

        .placeinfo_wrap {position:absolute;bottom:28px;left:-150px;width:300px;}
        .placeinfo{
            position:relative;width:100%;border-radius:6px;border:1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background:#fff;
        }
        .placeinfo:nth-of-type(n){border:0; box-shadow:0px 1px 2px #888;}
        .placeinfo_wrap .after{
            content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;
            background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
        }
        .placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
        .placeinfo a, .placeinfo span{display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
        .placeinfo span{margin:5px 5px 0 5px;cursor: default;font-size:13px;}
        .placeinfo .title{
            font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;
            background:#d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
        .placeinfo .tel{color:#0f7833;}
        .placeinfo .jibun{color:#999;font-size:11px;margin-top:0;}
        .customoverlay{
            position:relative;bottom:64px;float:left;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;
            background-color:#fff;padding:8px 16px;font-weight:500;
        }
        .customoverlay:nth-of-type(n){border:0; box-shadow:0px 1px 2px #888;}
        .customoverlay:after {
            content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;
            background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
        }

/* 인포그래픽형 */
    /* 기업소개 */
.inf_mod_summary.sty01{background-color:#002d78;padding:80px 0 60px;}
    .inf_mod_summary.sty01 h2{font-size:72px;font-weight:500;}
    .inf_mod_summary.sty01 .slogan{font-size:24px;margin-bottom:80px;}
    .inf_mod_summary.sty01 .com_goal{display:flex;max-width:800px;margin-top:24px;}
    .inf_mod_summary.sty01 .com_goal .tit{width:240px;text-align:right;font-size:40px;font-weight:500;color:#cee5ff;margin-right:32px;}
    .inf_mod_summary.sty01 .com_goal .tit.box{background:#016be3;padding:24px 20px 24px 36px;}
    .inf_mod_summary.sty01 .com_goal .mission, .inf_mod_summary.sty01 .com_goal .vision, .inf_mod_summary.sty01 .com_goal .keyValue{font-size:20px;width:calc(100% - 272px);}
    .inf_mod_summary.sty01 .com_goal .mission span, .inf_mod_summary.sty01 .com_goal .vision span{font-size:16px;display:block;color:#cee5ff;}
    .inf_mod_summary.sty01 .com_goal .keyValue ul{display:flex;justify-content:space-between;height:100%;}
    .inf_mod_summary.sty01 .com_goal .keyValue ul li{border:1px solid #016be3;font-size:16px;padding:12px 20px;text-align:center;}
    .inf_mod_summary.sty01 .com_goal .keyValue ul li::before{content:" ";display:block;width:52px;height:52px;margin:0 auto 8px;}
.inf_mod_summary.sty02{padding:100px 0 120px;text-align:center;}
    .inf_mod_summary.sty02 .mission{font-size:48px;font-weight:500;margin:28px 0 20px;}
    .inf_mod_summary.sty02 .mv_wrap{display:inline-block;margin:20px auto;}
    .inf_mod_summary.sty02 .mv_wrap > div{float:left;width:360px;height:360px;margin:0 -16px;background:rgba(18,25,87,.5);border-radius:50%;}
    .inf_mod_summary.sty02 .mv_wrap > div .tit{font-size:48px;font-style:italic;color:#7ee5ff;margin-top:88px;}
    .inf_mod_summary.sty02 .mv_wrap > div .desc{font-size:20px;padding:0 32px;}
    /* 연혁 */
.inf_mod_history.sty02{padding:80px 0 20px;}
    .inf_mod_history.sty02 h3{font-size:48px;font-weight:400;color:#242a73;text-align:center;}
    .inf_mod_history.sty02 .history_wrap{position:relative;}
    .inf_mod_history.sty02 .history_wrap .holder{margin:60px 0;position:relative;}
    .inf_mod_history.sty02 .history_wrap .holder a{display:none;position:absolute;top:-60px;left:50%;transform:translateX(-50%);}
    .inf_mod_history.sty02 .history_wrap .holder a.jp-current{display:block;text-align:center;}
    .inf_mod_history.sty02 .history_wrap .history{padding:40px 0;background:url(/images/bg_inf_history_sero.png) repeat-y 50% 0;min-height:auto!important;}
    .inf_mod_history.sty02 .history_wrap .history > div{
        display:flex;justify-content:space-between;align-items:center;flex-direction:row;margin:40px 0;
        background:url(/images/bg_inf_history_garo.png) no-repeat 50% 50%;
    }
    .inf_mod_history.sty02 .history_wrap .history > div:nth-child(even){flex-direction:row-reverse;}
    .inf_mod_history.sty02 .history_wrap .history > div > span, .inf_mod_history.sty02 .history_wrap .history > div > ul{width:46%;}
    .inf_mod_history.sty02 .history_wrap .history > div > span{font-size:36px;font-weight:500;color:#242a73;text-align:right;}
    .inf_mod_history.sty02 .history_wrap .history > div:nth-child(even) > span{text-align:left;}
    .inf_mod_history.sty02 .history_wrap .history > div div.event span{display:block;font-size:14px;}
    .inf_mod_history.sty02 .history_wrap .history > div:nth-child(even) div.event span{text-align:right;}
    .inf_mod_history.sty02 .history_wrap .arrow_prev, .inf_mod_history.sty02 .history_wrap .arrow_next{
        position:absolute;left:50%;transform:translateX(-50%);width:40px;height:40px;text-align:center;text-indent:-999999px;
        background-image:url(/images/arrow_inf_history.png);background-repeat:no-repeat;
    }
    .inf_mod_history.sty02 .history_wrap .arrow_prev{top:0;background-position:0 0;}
    .inf_mod_history.sty02 .history_wrap .arrow_next{bottom:0;background-position:-40px 0;}
    /* 재무정보 */
.inf_mod_finance{padding:80px 0;}
    .inf_mod_finance h3{font-size:48px;font-weight:500;text-align:center;margin-bottom:60px;}
    .inf_mod_finance.sty01 ul{display:flex;justify-content:space-evenly;}
    .inf_mod_finance.sty01 ul li{text-align:center;font-size:20px;font-weight:300;}
    .inf_mod_finance.sty01 ul li .ico{position:relative;display:block;width:240px;height:240px;margin:0 auto 20px;background-color:#ececec;border-radius:50%;text-align:center;}
    .inf_mod_finance.sty01 ul li .ico::before{
        position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);
        content:" ";display:block;width:120px;height:120px;
    }
    .inf_mod_finance.sty01 ul li .cnt{font-size:40px;font-weight:500;color:#fbc800;}
    .inf_mod_finance.sty02 h3{color:#242a73;}
    .inf_mod_finance.sty02 ul{display:inline-block;margin:0 auto;}
    .inf_mod_finance.sty02 ul li{
        float:left;width:340px;height:340px;margin:20px -24px;border-radius:50%;background:rgba(20,14,159,.52);color:#fff;font-size:16px;
    }
    .inf_mod_finance.sty02 ul li:nth-child(2){background:rgba(20,14,159,.64);}
    .inf_mod_finance.sty02 ul li:nth-child(3){background:rgba(20,14,159,.76);}
    .inf_mod_finance.sty02 ul li:nth-child(4){background:rgba(20,14,159,.88);}
    .inf_mod_finance.sty02 ul li .ico{position:relative;display:block;width:140px;height:140px;margin:44px auto 8px;}
    .inf_mod_finance.sty02 ul li .ico::before{content:" ";display:block;width:100%;height:100%;}
    .inf_mod_finance.sty02 ul li .cnt{font-size:40px;font-weight:500;color:#fbc800;}
    /* 기업위치(백분위) */
.inf_mod_percent.sty01{background-color:#d3e3fa;padding:80px 0;height:730px;}
    .inf_mod_percent.sty01 .type_pink{position:absolute;left:50%;top:50%;transform:translate(-40%, 0);width:570px;}
    .inf_mod_percent.sty01 .type_pink li{
        text-align:center;display:flex;justify-content:center;align-items:center;flex-direction:column;
        background-repeat:no-repeat;background-position:50% 50%;color:#fff;font-size:24px;line-height:1.4;
    }
    .inf_mod_percent.sty01 .type_pink li:nth-child(1){height:180px;background-image:url(/images/bg_financeS2_pink_top.png);background-size:100% 180px;}
    .inf_mod_percent.sty01 .type_pink li:nth-child(2){height:180px;background-image:url(/images/bg_financeS2_pink_mid.png);background-size:100% 180px;}
    .inf_mod_percent.sty01 .type_pink li:nth-child(3){height:160px;background-image:url(/images/bg_financeS2_pink_bot.png);background-size:100% 160px;}
    .inf_mod_percent.sty01 .type_pink li span{font-size:42px;font-weight:500;}
    .inf_mod_percent.sty01 .type_orange{position:absolute;left:50%;top:50%;transform:translate(5%, 100px);width:500px;}
    .inf_mod_percent.sty01 .type_orange li{
        text-align:center;display:flex;justify-content:center;align-items:center;flex-direction:column;
        background-repeat:no-repeat;background-position:50% 50%;color:#fff;font-size:21px;line-height:1.3;
    }
    .inf_mod_percent.sty01 .type_orange li:nth-child(1){height:160px;background-image:url(/images/bg_financeS2_orange_top.png);background-size:100% 160px;}
    .inf_mod_percent.sty01 .type_orange li:nth-child(2){height:140px;background-image:url(/images/bg_financeS2_orange_mid.png);background-size:100% 140px;}
    .inf_mod_percent.sty01 .type_orange li:nth-child(3){height:140px;background-image:url(/images/bg_financeS2_orange_bot.png);background-size:100% 140px;}
    .inf_mod_percent.sty01 .type_orange li span{font-size:38px;font-weight:500;}
    .inf_mod_percent.sty01 .type_green{position:absolute;left:50%;top:50%;transform:translate(-100%, 200px);width:360px;
    }
    .inf_mod_percent.sty01 .type_green li{
        text-align:center;display:flex;justify-content:center;align-items:center;flex-direction:column;
        background-repeat:no-repeat;background-position:50% 50%;color:#fff;font-size:21px;line-height:1.2;
    }
    .inf_mod_percent.sty01 .type_green li:nth-child(1){height:120px;background-image:url(/images/bg_financeS2_green_top.png);background-size:100% 120px;}
    .inf_mod_percent.sty01 .type_green li:nth-child(2){height:100px;background-image:url(/images/bg_financeS2_green_mid.png);background-size:100% 100px;}
    .inf_mod_percent.sty01 .type_green li:nth-child(3){height:100px;background-image:url(/images/bg_financeS2_green_bot.png);background-size:100% 100px;}
    .inf_mod_percent.sty01 .type_green li span{font-size:38px;font-weight:500;}
    .inf_mod_percent.sty01 .type_blue{position:absolute;left:50%;top:50%;transform:translate(-190%, 270px);width:280px;
    }
    .inf_mod_percent.sty01 .type_blue li{
        text-align:center;display:flex;justify-content:center;align-items:center;flex-direction:column;
        background-repeat:no-repeat;background-position:50% 50%;color:#1f628d;font-size:16px;line-height:1.2;
    }
    .inf_mod_percent.sty01 .type_blue li:nth-child(1){height:100px;background-image:url(/images/bg_financeS2_blue_top.png);background-size:100% 100px;}
    .inf_mod_percent.sty01 .type_blue li:nth-child(2){height:100px;background-image:url(/images/bg_financeS2_blue_mid.png);background-size:100% 100px;}
    .inf_mod_percent.sty01 .type_blue li:nth-child(3){height:100px;background-image:url(/images/bg_financeS2_blue_bot.png);background-size:100% 100px;}
    .inf_mod_percent.sty01 .type_blue li span{font-size:28px;font-weight:500;}
.inf_mod_percent.sty02{
    position:relative;height:780px;background-color:#a4f7ff;
    background-image:url(/images/@bg_percent_1238139826.png);background-repeat:no-repeat;background-position:50% 100%;
}
    .inf_mod_percent.sty02 .percent_wrap > div{
        position:absolute;text-align:center;border-radius:50%;
        display:flex;justify-content:center;flex-direction:column;color:#fff;
    }
    .inf_mod_percent.sty02 .growth{background:#ffbc08;width:300px;height:300px;font-size:28px;top:360px;left:300px;}
    .inf_mod_percent.sty02 .scale{background:#3171de;width:200px;height:200px;font-size:20px;top:420px;left:800px;}
    .inf_mod_percent.sty02 .stable{background:#3171de;width:200px;height:200px;font-size:20px;top:120px;left:640px;}
    .inf_mod_percent.sty02 .profit{background:#292844;width:120px;height:120px;font-size:14px;top:80px;left:360px;}
    .inf_mod_percent.sty02 .growth span{font-size:56px;font-weight:700;}
    .inf_mod_percent.sty02 .scale span{font-size:36px;font-weight:700;}
    .inf_mod_percent.sty02 .stable span{font-size:36px;font-weight:700;}
    .inf_mod_percent.sty02 .profit span{font-size:20px;font-weight:700;}
    /* 직원정보 */
.inf_mod_emp{background-color:#f3f3f3;padding:80px 0;}
    .inf_mod_emp .empCnt_wrap{display:flex;justify-content:space-between;}
    .inf_mod_emp .empCnt_wrap > div{flex:1;}
    .inf_mod_emp .empCnt_wrap > div+div{margin-left:80px;}
    .inf_mod_emp.sty01 .lastEmployeeState{background-color:#fff;border-radius:30px;}
    .inf_mod_emp.sty01 .lastEmployeeState > div{display:flex;align-items:center;}
    .inf_mod_emp.sty01 .lastEmployeeState > div > div{flex:1;}
    .inf_mod_emp.sty01 .lastEmployeeState > div > div+div{margin-left:40px;}
    .inf_mod_emp.sty01 .lastEmployeeState > div > div:nth-child(1){text-align:right;}
    .inf_mod_emp.sty01 .lastEmployeeState .total_wrap{background-color:#ff8b10;color:#fff;border-radius:30px;font-size:24px;padding:30px 0;}
    .inf_mod_emp.sty01 .lastEmployeeState .total_wrap .lastTotal{font-size:40px;font-weight:500;}
    .inf_mod_emp.sty01 .lastEmployeeState .empState_wrap{font-size:18px;margin-top:32px;}
    .inf_mod_emp.sty01 .lastEmployeeState .empState_wrap .lastJoin, .inf_mod_emp.sty01 .lastEmployeeState .empState_wrap .lastResign{
        font-size:24px;font-weight:500;
    }
    .inf_mod_emp.sty02 .lastEmployeeState{background-color:#3d49b9;border-radius:30px;display:flex;flex-wrap:wrap;padding:40px 0;}
    .inf_mod_emp.sty02 .lastEmployeeState > div{flex:1;text-align:center;display:flex;flex-direction:column;justify-content:center;color:#fff;}
    .inf_mod_emp.sty02 .lastEmployeeState > div + div{border-left:1px solid rgba(255,255,255,.25);}
    .inf_mod_emp.sty02 .lastEmployeeState .total_wrap:before{content:url(/images/@ico_empCnt_1238139826.png);}
    .inf_mod_emp.sty02 .lastEmployeeState .total_wrap{font-size:28px;font-weight:500;}
    .inf_mod_emp.sty02 .lastEmployeeState .total_wrap .lastTotal{font-size:48px;color:#ffa800;font-weight:700;}
    .inf_mod_emp.sty02 .lastEmployeeState .empState_wrap{font-size:20px;}
    .inf_mod_emp.sty02 .lastEmployeeState .empState_wrap .lastJoin, .inf_mod_emp.sty02 .lastEmployeeState .empState_wrap .lastResign{
        font-size:24px;font-weight:500;
    }
    .inf_mod_emp.sty02 .lastEmployeeState .empState_wrap .lastJoin{color:#26c9a8;}
    .inf_mod_emp.sty02 .lastEmployeeState .empState_wrap .lastResign{color:#d3d3d3;}
    /* 그래프 데이터 */
.graphData{display:none;}
#graph_empCnt svg{min-height:300px;}
    /* 조직문화 & 복지정보 */
.inf_mod_welfare.sty01{background-color:#d3e3fa;padding:80px 0;}
    .inf_mod_welfare.sty01 h3{color:#092e87;font-size:48px;}
    .inf_mod_welfare.sty01 .culture_wrap, .inf_mod_welfare.sty01 .welfare_wrap{position:relative;margin-top:20px;padding:36px;background-color:#fff;}
    .inf_mod_welfare.sty01 .swiper{width:calc(100% - 420px);height:100%;margin-left:420px;}
    .inf_mod_welfare.sty01 .swiper-slide{text-align:center;}
    .inf_mod_welfare.sty01 .swiper-slide .tit, .inf_mod_welfare.sty01 .swiper-slide dt{font-size:18px;font-weight:700;margin-bottom:12px;}
    .inf_mod_welfare.sty01 .swiper-slide .desc, .inf_mod_welfare.sty01 .swiper-slide dd{font-size:14px;color:#666;}
    .inf_mod_welfare.sty01 .swiper-slide dl{display:flex;flex-wrap:wrap;}
    .inf_mod_welfare.sty01 .swiper-slide dt{width:100%;}
    .inf_mod_welfare.sty01 .swiper-slide dd{flex:1 1 50%;text-align:left;letter-spacing:-.5px;}
    .inf_mod_welfare.sty01 .swiper-slide dd::before{content:"- ";}
    .inf_mod_welfare.sty01 .swiper-button-next, .inf_mod_welfare.sty01 .welfare_wrap .swiper-button-prev{
        width:40px;height:40px;background-color:#fff;border:1px solid #f5f5f5;
    }
    .inf_mod_welfare.sty01 .swiper-button-next::after, .inf_mod_welfare.sty01 .welfare_wrap .swiper-button-prev::after{font-size:16px;color:#333;}
    .inf_mod_welfare.sty01 .swiper-button-next{top:-24px;right:0;}
    .inf_mod_welfare.sty01 .swiper-button-prev{top:-24px;left:auto;right:44px;}
.inf_mod_welfare.sty02{background-color:#6572e8;padding:120px 0 80px;}
    .inf_mod_welfare.sty02 .welfare_wrap{background-color:#fff;border-radius:32px;}
    .inf_mod_welfare.sty02 .welfare_wrap h3{
        position:relative;border-radius:32px 32px 0 0;
        background-color:#ffa800;color:#fff;font-size:60px;font-weight:500;padding:64px 96px;margin:0;
    }
    .inf_mod_welfare.sty02 .welfare_wrap h3:before{
        content:url(/images/@bg_welfaer_1238139826.png);position:absolute;bottom:0;right:0;line-height:0;
    }
    .inf_mod_welfare.sty02 .swiper{width:calc(100% - 200px);height:100%;margin:0 auto;padding:60px 0;overflow:hidden;}
    .inf_mod_welfare.sty02 .swiper .swiper-wrapper{height:480px;}
    .inf_mod_welfare.sty02 .swiper-slide{height: calc((100% - 60px) / 3);}
    .inf_mod_welfare.sty02 .swiper-slide dl{margin-left:120px;position:relative;}
    .inf_mod_welfare.sty02 .swiper-slide dl::before{
        content:"";position:absolute;top:8px;left:-120px;width:100px;height:100px;border-radius:50%;
        display:block;background-color:#ffc600;text-align:center;
        background-image:url(/images/@ico_welfare_1238139826.png);background-repeat:no-repeat;
    }
    .inf_mod_welfare.sty02 .swiper-slide.deduct dl::before{background-position-x:0;}
    .inf_mod_welfare.sty02 .swiper-slide.insurance dl::before{background-position-x:-100px;}
    .inf_mod_welfare.sty02 .swiper-slide.education dl::before{background-position-x:-200px;}
    .inf_mod_welfare.sty02 .swiper-slide.convenience dl::before{background-position-x:-300px;}
    .inf_mod_welfare.sty02 .swiper-slide.leisure dl::before{background-position-x:-400px;}
    .inf_mod_welfare.sty02 .swiper-slide.reward dl::before{background-position-x:-500px;}
    .inf_mod_welfare.sty02 .swiper-slide.facilities dl::before{background-position-x:-600px;}
    .inf_mod_welfare.sty02 .swiper-slide.holiday dl::before{background-position-x:-700px;}
    .inf_mod_welfare.sty02 .swiper-slide.handicap dl::before{background-position-x:-800px;}
    .inf_mod_welfare.sty02 .swiper-slide.etc dl::before{background-position-x:-900px;}
    .inf_mod_welfare.sty02 .swiper-slide dt{font-size:24px;font-weight:500;margin-bottom:8px;}
    .inf_mod_welfare.sty02 .swiper-slide dd{display:inline-block;width:50%;padding-right:24px;font-size:16px;letter-spacing:-.5px;color:#666;margin:0 0 4px;}
    .inf_mod_welfare.sty02 .swiper-slide dd::before{content:"- ";}
    .inf_mod_welfare.sty02 .welfare_wrap .swiper-button-next, .inf_mod_welfare.sty02 .welfare_wrap .swiper-button-prev{margin-top:80px;color:#ddd;}
    .inf_mod_welfare.sty02 .welfare_wrap .swiper-button-next{right:40px;}
    .inf_mod_welfare.sty02 .welfare_wrap .swiper-button-prev{left:40px;}
    /* SWOT */
.inf_mod_swot.sty01{background-color:#f3f3f3;padding:120px 0;}
    .inf_mod_swot.sty01 .swot_wrap{
        height:735px;background-image:url(/images/bg_swot_inf_sty01.png);background-position:50% 50%;background-repeat:no-repeat;
    }
    .inf_mod_swot.sty01 .swot_wrap .title{
        position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center;font-size:36px;font-weight:700;line-height:1.3;
    }
    .inf_mod_swot.sty01 .swot_wrap .title hr{margin:20px 0;border-width:1px;border-color:#f1f1f1 transparent #5d5d5d;border-style:solid none;min-width:240px;}
    .inf_mod_swot.sty01 .swot_wrap .title .imgCi{max-width:200px;display:inline-block;} 
    .inf_mod_swot.sty01 .swot_wrap .tit{color:#082e81;font-size:30px;font-weight:700;text-transform:uppercase;}
    .inf_mod_swot.sty01 .swot_wrap .tit::before{
        content:"";position:absolute;width:46px;height:46px;background-image:url(/images/ico_swot.png);background-repeat:no-repeat;}
    .inf_mod_swot.sty01 .swot_wrap .swotS .tit::before{right:-60px;top:4px;background-position:0 0;}
    .inf_mod_swot.sty01 .swot_wrap .swotW .tit::before{left:-60px;top:4px;background-position:-46px 0;}
    .inf_mod_swot.sty01 .swot_wrap .swotO .tit::before{right:-60px;top:4px;background-position:-92px 0;}
    .inf_mod_swot.sty01 .swot_wrap .swotT .tit::before{left:-60px;top:4px;background-position:-138px 0;}
    .inf_mod_swot.sty01 .swot_wrap .swotS .desc, 
    .inf_mod_swot.sty01 .swot_wrap .swotW .desc, 
    .inf_mod_swot.sty01 .swot_wrap .swotO .desc, 
    .inf_mod_swot.sty01 .swot_wrap .swotT .desc{color:#666;font-size:18px;}
    .inf_mod_swot.sty01 .swot_wrap .swotS{position:absolute;width:260px;left:0;top:72px;text-align:right;}
    .inf_mod_swot.sty01 .swot_wrap .swotW{position:absolute;width:260px;right:0;top:72px;}
    .inf_mod_swot.sty01 .swot_wrap .swotO{position:absolute;width:260px;left:0;bottom:72px;text-align:right;}
    .inf_mod_swot.sty01 .swot_wrap .swotT{position:absolute;width:260px;right:0;bottom:72px;}
.inf_mod_swot.sty02{background-color:#f8f8f8;padding:88px 0;}
    .inf_mod_swot.sty02 .title{text-align:center;color:#242a73;font-size:56px;font-weight:700;line-height:1.25;}
    .inf_mod_swot.sty02 .title img{max-height:40px;}
    .inf_mod_swot.sty02 .swot_wrap{display:flex;justify-content:space-between;}
    .inf_mod_swot.sty02 .swot_wrap > div{width:250px;}
    .inf_mod_swot.sty02 .swot_wrap > div::before{
        content:"";display:block;width:100%;height:338px;
        background-image:url(/images/@bg_swot_1238139826.png);background-repeat:no-repeat;background-size:cover;
    }
    .inf_mod_swot.sty02 .swot_wrap .swotS::before {background-position-x:0;}
    .inf_mod_swot.sty02 .swot_wrap .swotW::before {background-position-x:-250px;}
    .inf_mod_swot.sty02 .swot_wrap .swotO::before {background-position-x:-500px;}
    .inf_mod_swot.sty02 .swot_wrap .swotT::before {background-position-x:-750px;}
    .inf_mod_swot.sty02 .swot_wrap .swotS .tit, 
    .inf_mod_swot.sty02 .swot_wrap .swotW .tit, 
    .inf_mod_swot.sty02 .swot_wrap .swotO .tit, 
    .inf_mod_swot.sty02 .swot_wrap .swotT .tit{text-align:center;font-size:24px;font-weight:500;text-transform:uppercase;margin-bottom:16px;}
    .inf_mod_swot.sty02 .swot_wrap .swotS .tit{color:#fdbf00}
    .inf_mod_swot.sty02 .swot_wrap .swotW .tit{color:#36afc5}
    .inf_mod_swot.sty02 .swot_wrap .swotO .tit{color:#048aef}
    .inf_mod_swot.sty02 .swot_wrap .swotT .tit{color:#005cd3}
    .inf_mod_swot.sty02 .swot_wrap .swotS .desc, 
    .inf_mod_swot.sty02 .swot_wrap .swotW .desc, 
    .inf_mod_swot.sty02 .swot_wrap .swotO .desc, 
    .inf_mod_swot.sty02 .swot_wrap .swotT .desc{color:#666;font-size:16px;}
    /* 사업영역 */
.inf_mod_biz.sty01{padding:80px 0;}
    .inf_mod_biz.sty01 h3{font-size:48px;text-align:center;margin:0 0 40px;}
    .inf_mod_biz.sty02 h3{font-size:48px;font-weight:400;color:#242a73;text-align:center;}
    .inf_mod_biz.sty01 .slogan{text-align:center;font-size:16px;color:#666;}
    .inf_mod_biz.sty01 .bizDiv, .inf_mod_biz.sty02 .bizDiv{display:flex;justify-content:space-between;}
    .inf_mod_biz.sty01 .bizDiv > div{flex:1;}
    .inf_mod_biz.sty01 .bizDiv > div + div{margin-left:80px;}
    .inf_mod_biz.sty01 .bizDiv > div h4{font-size:30px;text-align:center;margin:20px 0;}
    .inf_mod_biz.sty01 .bizDiv > div p{font-size:16px;color:#666;}
.inf_mod_biz.sty02{padding:60px 0;}
    .inf_mod_biz.sty02 .biz_wrap{width:960px;margin:16px auto 0;}
    .inf_mod_biz.sty02 .bizDiv > div{position:relative;width:231px;background-color:#7ca6ff;line-height:0;}
    .inf_mod_biz.sty02 .bizDiv > div h4{position:absolute;top:24px;left:0;font-size:16px;font-weight:500;padding:4px 16px;color:#fff;line-height:1.4;}
    .inf_mod_biz.sty02 .bizDiv > div p{
        position:absolute;top:0;right:0;bottom:0;left:0;display:none;line-height:1.6;
        font-size:14px;color:#fff;background:rgba(0,0,58,.85);padding:40px 20px;
    }
    .inf_mod_biz.sty02 .bizDiv > div:hover p{display:block;}
    /* 제품정보 */
.inf_mod_product.sty02{padding:20px 0 80px;}
    .inf_mod_product.sty02 h3{font-size:48px;font-weight:400;color:#242a73;text-align:center;}
    .inf_mod_product.sty02 .pd_wrap{width:960px;margin:60px auto 0;}
    .inf_mod_product.sty02 .product > div{position:relative;margin:20px 0;}
    .inf_mod_product.sty02 .product > div::before, .inf_mod_product.sty02 .product > div::after{content:"";display:block;}
    .inf_mod_product.sty02 .product > div::after{clear:both;visibility:hidden;line-height:0;height:0}
    .inf_mod_product.sty02 .product > div img{line-height:0;border:1px solid #cdcdcd;width:305px;float:left;}
    .inf_mod_product.sty02 .product > div h4{margin-left:40px;width:calc(100% - 345px);float:left;font-size:16px;margin-bottom:12px;}
    .inf_mod_product.sty02 .product > div p{margin-left:40px;width:calc(100% - 345px);float:left;font-size:14px;color:#666;}
    /* 인터뷰 */
.inf_mod_interview.sty01{background-color:#002e79;padding:100px 0;}
    .inf_mod_interview.sty01 .iv_wrap{position:relative;background-color:#fff;margin:20px 0 0 20px;z-index:100;}
    .inf_mod_interview.sty01 .iv_wrap .photo{position:absolute;top:-20px;left:-20px;z-index:110;}
    .inf_mod_interview.sty01 .iv_wrap .swiper{width:calc(100% - 240px);margin-left:240px;overflow:hidden;}
    .inf_mod_interview.sty01 .iv_wrap .swiper-wrapper .swiper-slide{padding:40px 32px;min-height:100%;}
    .inf_mod_interview.sty01 .iv_wrap .swiper-wrapper .swiper-slide:nth-child(2n){background-color:#f3f3f3;}
    .inf_mod_interview.sty01 .iv_wrap .swiper-wrapper .q{font-size:18px;line-height:1.4;}
    .inf_mod_interview.sty01 .iv_wrap .swiper-wrapper .q::before{content:url(/images/ico_question.png);margin-right:8px;}
    .inf_mod_interview.sty01 .iv_wrap .swiper-wrapper .a{font-size:14px;color:#666;margin-top:20px;}
    .inf_mod_interview.sty01 .iv_wrap .swiper-button-next, .inf_mod_interview.sty01 .iv_wrap .swiper-button-prev{
        width:40px;height:40px;background-color:#fff;border:1px solid #f5f5f5;
    }
    .inf_mod_interview.sty01 .iv_wrap .swiper-button-next::after, .inf_mod_interview.sty01 .iv_wrap .swiper-button-prev::after{font-size:16px;color:#333;}
    .inf_mod_interview.sty01 .iv_wrap .swiper-button-next{top:-24px;right:0;}
    .inf_mod_interview.sty01 .iv_wrap .swiper-button-prev{top:-24px;left:auto;right:44px;}
.inf_mod_interview.sty02{background-color:#a4f7ff;padding:100px 0;}
    .inf_mod_interview.sty02 > div{display:flex;justify-content:space-between;flex-wrap:wrap;}
    .inf_mod_interview.sty02 > div > div{width:32%;}
    .inf_mod_interview.sty02 .iv_wrap{position:relative;background-color:#fff;margin-top:110px;z-index:100;}
    .inf_mod_interview.sty02 .iv_wrap .photo{
        position:absolute;left:50%;top:0;transform:translate(-50%, -50%);
        width:220px;height:220px;background-color:#00c7da;border-radius:110px;overflow:hidden;z-index:110;
    }
    .inf_mod_interview.sty02 .iv_wrap .qa_warp{padding:24px;}
    .inf_mod_interview.sty02 .iv_wrap .qa_warp .hr{width:40px;height:4px;border-radius:2px;background-color:#00c7da;margin:120px auto 8px;}
    .inf_mod_interview.sty02 .iv_wrap .qa_warp .mem{font-size:22px;text-align:center;}
    .inf_mod_interview.sty02 .iv_wrap .swiper{width:100%;margin-top:52px;overflow:hidden;}
    .inf_mod_interview.sty02 .iv_wrap .swiper .swiper-slide{
        background-image:url(/images/ico_inf_iv_sty02.png);background-repeat:no-repeat;background-size:48px;padding-left:62px;
    }
    .inf_mod_interview.sty02 .iv_wrap .swiper .swiper-slide .q{min-height:48px;line-height:1.6;margin-bottom:8px;font-size:18px;color:#027580;}
    .inf_mod_interview.sty02 .iv_wrap .swiper .swiper-slide .a{font-size:14px;}
    .inf_mod_interview.sty02 .iv_wrap .swiper-button-next::after, .inf_mod_interview.sty02 .iv_wrap .swiper-button-prev::after{font-size:24px;color:#00c7da;}
    .inf_mod_interview.sty02 .iv_wrap .swiper-button-next{top:216px;right:24px;}
    .inf_mod_interview.sty02 .iv_wrap .swiper-button-prev{top:216px;left:auto;right:48px;}

/* Break Point */
@media screen and (max-width: 780px) {
    /* Common */
    .cnt-container{max-width:calc(100% - 40px);}
    .com_mod_anchor .cnt-container{max-width:100%;}
    .com_mod_header{padding:40px 0;}
    /* Header & Anchor */
    .header .biz_cate{display:none;}
    .header .logo{margin-right:60px;}
    .header .logo img{max-width:240px;}
}
@media screen and (max-width: 480px) {
    /* Common */
    .cnt-container{max-width:calc(100% - 24px);}
    .com_mod_header{padding:40px 0;}
    /* Header & Anchor */
    .header{display:block;text-align:center;}
    .header .info dl{display:none;}
    .header .logo, .header .info, .com_mod_header.fixed .header .info{float:none;}
    .header .logo{margin:0 0 24px;}
    .header .logo img{max-width:240px;}
    .com_mod_anchor.sty02 a{padding:12px 32px;}
    /* 채용공고 */
    .com_mod_recruit.sty01{padding:60px 0;}
    .com_mod_recruit.sty01 h3{font-size:28px;margin: 0 0 20px;}
    .com_mod_recruit.sty01 .tb_recruit th{padding:16px;}
    .com_mod_recruit.sty01 .tb_recruit td{padding:12px;}
    .com_mod_recruit.sty01 .tb_recruit td .apply{display:block;margin:8px 0 0;padding:8px;}
    .com_mod_recruit.sty01 .box_recruit h4 .period{top:-41px;background:#2971b9;color:#fff;padding:4px 8px;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap dl dt, .com_mod_recruit.sty01 .box_recruit .detail_wrap dl dd{width:100%;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap dl dt{font-weight:500;margin:0;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap dl dd{margin-bottom:12px;}
    .com_mod_recruit.sty01 .box_recruit .detail_wrap > div + div{margin-left:30px;}
    /* 기업뉴스 */
    .com_mod_map .map_info_wrap{width:80%;}
    .com_mod_news.sty01{padding:60px 0;;}
    /* 지도 */
    .com_mod_map .map_info_wrap .around_wrap{display:none;}
    /* 인포그래픽형 */
    /* 기업소개 */
    .inf_mod_summary.sty02{padding:60px 0 80px;}
    .inf_mod_summary.sty02 .imgCi img{max-width:60%;}
    .inf_mod_summary.sty02 .mission{font-size:32px;margin:20px 0 16px;}
    .inf_mod_summary.sty02 .comMsg{font-size:16px;}
    /* 연혁 */
    .inf_mod_history.sty02{padding:40px 0 20px;}
    .inf_mod_history.sty02 h3{font-size:32px;}
    .inf_mod_history.sty02 .history_wrap .history{padding:20px 0;background-position:80px 0;}
    .inf_mod_history.sty02 .history_wrap .arrow_prev, .inf_mod_history.sty02 .history_wrap .arrow_next{
        left:80px;width:30px;height:30px;background-size:cover;
    }
    .inf_mod_history.sty02 .history_wrap .arrow_next{background-position: -30px 0;}
    .inf_mod_history.sty02 .history_wrap .history > div{background-position:72px 50%;}
    .inf_mod_history.sty02 .history_wrap .history > div > span{flex-shrink:0;width:100px;text-align:left;font-size:24px;padding-left:8px;}
    .inf_mod_history.sty02 .history_wrap .history > div > ul{flex-grow:1;}
    .inf_mod_history.sty02 .history_wrap .history > div:nth-child(even){flex-direction:row;}
    .inf_mod_history.sty02 .history_wrap .history > div:nth-child(even) div.event span{text-align:left;}
    /* 사업영역 */
    .inf_mod_biz.sty02{padding:40px 0;}
    .inf_mod_biz.sty02 h3{font-size:32px;}
    .inf_mod_biz.sty02 .biz_wrap{width:100%;}
    .inf_mod_biz.sty02 .bizDiv{flex-wrap:wrap;}
    .inf_mod_biz.sty02 .bizDiv > div{width:48%;margin-bottom:16px;}
    /* 제품정보 */
    .inf_mod_product.sty02 h3{font-size:32px;}
    .inf_mod_product.sty02 .pd_wrap{width:100%;margin:24px auto 0;}
    .inf_mod_product.sty02 .product > div img, .inf_mod_product.sty02 .product > div h4, .inf_mod_product.sty02 .product > div p{float:none;}
    .inf_mod_product.sty02 .product > div img{width:100%;}
    .inf_mod_product.sty02 .product > div h4, .inf_mod_product.sty02 .product > div p{width:100%;margin-left:0;}
    .inf_mod_product.sty02 .product > div h4{margin:12px 0 8px;}
    /* 재무정보 */
    .inf_mod_finance{padding:60px 0;}
    .inf_mod_finance h3{font-size:32px;margin-bottom:40px;}
    .inf_mod_finance.sty02 ul{margin:0 0 0 5vw;}
    .inf_mod_finance.sty02 ul li{width:48vw;height:48vw;margin:-2.5vw;font-size:14px;}
    .inf_mod_finance.sty02 ul li .ico{width:60px;height:60px;margin:32px auto 4px;}
    .inf_mod_finance.sty02 ul li .cnt{font-size:28px;}
    /* 기업위치(백분위) */
    .inf_mod_percent.sty02{background-position:5% 100%;}
    .inf_mod_percent.sty02 .growth{width:240px;height:240px;font-size:24px;top:280px;left:5vw;}
    .inf_mod_percent.sty02 .growth span{font-size:44px;}
    .inf_mod_percent.sty02 .scale{top:460px;left:auto;right:3vw;}
    .inf_mod_percent.sty02 .stable{left:auto;right:10vw;}
    .inf_mod_percent.sty02 .profit{top:60px;left:10vw;}
    /* 직원정보 */
    .inf_mod_emp{padding:60px 0;}
    .inf_mod_emp .empCnt_wrap{flex-direction:column;}
    .inf_mod_emp .empCnt_wrap > div+div{margin:40px 0 0;}
    /* 인터뷰 */
    .inf_mod_interview.sty02{padding:80px 0 40px;}
    .inf_mod_interview.sty02 > div > div{width:100%;margin-bottom:40px;}
    /* 조직문화 & 복지정보 */
    .inf_mod_welfare.sty02{padding:80px 0 40px;}
    .inf_mod_welfare.sty02 .welfare_wrap h3:before{content:"";}
    .inf_mod_welfare.sty02 .welfare_wrap h3{font-size:48px;padding:32px 48px;}
    .inf_mod_welfare.sty02 .swiper{width:calc(100% - 80px);}
    .inf_mod_welfare.sty02 .swiper-slide dt{font-size:20px;margin-bottom:4px;}
    .inf_mod_welfare.sty02 .swiper-slide dd{font-size:14px;}
    .inf_mod_welfare.sty02 .swiper-slide dl{margin-left:100px;}
    .inf_mod_welfare.sty02 .swiper-slide dl::before{width:80px;height:80px;left:-100px;background-size:cover;}
    .inf_mod_welfare.sty02 .swiper-slide.deduct dl::before{background-position-x:0;}
    .inf_mod_welfare.sty02 .swiper-slide.insurance dl::before{background-position-x:-80px;}
    .inf_mod_welfare.sty02 .swiper-slide.education dl::before{background-position-x:-160px;}
    .inf_mod_welfare.sty02 .swiper-slide.convenience dl::before{background-position-x:-240px;}
    .inf_mod_welfare.sty02 .swiper-slide.leisure dl::before{background-position-x:-320px;}
    .inf_mod_welfare.sty02 .swiper-slide.reward dl::before{background-position-x:-400px;}
    .inf_mod_welfare.sty02 .swiper-slide.facilities dl::before{background-position-x:-480px;}
    .inf_mod_welfare.sty02 .swiper-slide.holiday dl::before{background-position-x:-560px;}
    .inf_mod_welfare.sty02 .swiper-slide.handicap dl::before{background-position-x:-740px;}
    .inf_mod_welfare.sty02 .swiper-slide.etc dl::before{background-position-x:-800px;}
    .inf_mod_welfare.sty02 .welfare_wrap .swiper-button-prev{left:8px;}
    .inf_mod_welfare.sty02 .welfare_wrap .swiper-button-next{right:8px;}
    /* SWOT */
    .inf_mod_swot.sty02{padding:60px 0;}
    .inf_mod_swot.sty02 .title{font-size:48px;}
    .inf_mod_swot.sty02 .swot_wrap{flex-wrap:wrap;}
    .inf_mod_swot.sty02 .swot_wrap > div{width:50%;margin:0 auto;}
    .inf_mod_swot.sty02 .swot_wrap > div::before{width:150px;height:203px;margin:0 auto;background-size:cover;}
    .inf_mod_swot.sty02 .swot_wrap .swotS .tit, 
    .inf_mod_swot.sty02 .swot_wrap .swotW .tit, 
    .inf_mod_swot.sty02 .swot_wrap .swotO .tit, 
    .inf_mod_swot.sty02 .swot_wrap .swotT .tit{font-size:20px;margin-bottom:8px;}
    .inf_mod_swot.sty02 .swot_wrap .swotS .desc, 
    .inf_mod_swot.sty02 .swot_wrap .swotW .desc, 
    .inf_mod_swot.sty02 .swot_wrap .swotO .desc, 
    .inf_mod_swot.sty02 .swot_wrap .swotT .desc{font-size:14px;padding:0 8px 24px;}
    .inf_mod_swot.sty02 .swot_wrap .swotS::before {background-position-x:0;}
    .inf_mod_swot.sty02 .swot_wrap .swotW::before {background-position-x:-150px;}
    .inf_mod_swot.sty02 .swot_wrap .swotO::before {background-position-x:-300px;}
    .inf_mod_swot.sty02 .swot_wrap .swotT::before {background-position-x:-450px;}
}